
.card {
    box-sizing: border-box;
    min-height: 100px;
    padding: 1rem;

    h3 {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    
    }
    cursor: pointer;
}

.logoWrapper {
    display: flex;

}


.specialThanks {
    margin-top: 2rem;
}